img{
    width:100px;
    height:100px;
}

#customer,#cook{
    float: left;
}
#waiter{
    clear: both;
}

#cuscoo{
    margin:100px 200px;
}
#cook{
    margin-left: 200px;
}

#waiter{
    margin-left:100px;
}

#cookStatus{
    width:300px;
    height:50px;
    border: 1px solid #cdd7e6;
}

#menu{
    width:300px;
    height:50px;
    border:1px solid #cdd7e6;
}

#eatStatus{
    width:300px;
    height:200px;
    border: 1px solid #cdd7e6;
}

#waiterMess{
    width:100px;
    height:100px;
    border: 1px solid #cdd7e6;
}